<div class="principal">
<app-navbar></app-navbar>
<h1>Configuraciones</h1>
<div class="container">

    
</div>
<app-profesionales [profesionales]="this.profesionales" (habilitarSeleccion)="this.habilitaProfesional($event)"></app-profesionales>
<app-especialidades></app-especialidades>
<div style="justify-content: center;display: flex">
    <app-alta-especialidades (nuevaEspecialidad)="altaEspecialidad($event)"></app-alta-especialidades>
    <button class="btn btn-success" [routerLink]="['/BuscadorTurnos']" routerLinkActive="router-link-active" > Buscador de turnos </button>
</div>
</div>