<nav class="navbar navbar-expand-lg navbar-light bg-light "style="background-color: #e3f2fd;">
    <a class="navbar-brand" >
        <img src="../../../assets/imagenes/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">     <span class="caret"></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline">
        <button *ngIf="!(loginService.angularFireAuth.user | async)" class="btn btn-outline-success separacion"  routerLink="/Login" type="button">Ingresar</button>
        <button *ngIf="!(loginService.angularFireAuth.user | async)" class="btn btn-outline-danger separacion" routerLink="/Registro" type="button">Registrarse</button>
        <button *ngIf="(loginService.angularFireAuth.user | async)" class="btn btn-outline-danger separacion" routerLink="/Login" (click)="logOut()" type="button">Salir</button>
      </form>
    </div>
  </nav>
  