<nav class="navbar transparent navbar-inverse navbar-fixed-top">
    <div style="display: inline-flex;" >
        <img src="../../../assets/imagenes/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">     <span class="caret"></span>
        
          <a class="nav-link" style="color: black;" (click)="cambiarpagina('Home')">Home <span class="sr-only">(current)</span></a>
          <a class="nav-link" style="color: black;" (click)="cambiarpagina('Turnos')">Solicitar Turno <span class="sr-only">(current)</span></a>
          <a class="nav-link" *ngIf="(loginService.angularFireAuth.user | async)" style="color: black;" (click)="cambiarpagina('MisTurnos')">Mis Turnos <span class="sr-only">(current)</span></a>
       
      </div>      


   
      <form class="form-inline">
        <button *ngIf="!(loginService.angularFireAuth.user | async)" class="btn btn-outline-success separacion"  routerLink="/Login" type="button">Ingresar</button>
        <button *ngIf="!(loginService.angularFireAuth.user | async)" class="btn btn-outline-danger separacion" routerLink="/Registro" type="button">Registrarse</button>
        <button *ngIf="(loginService.angularFireAuth.user | async)" class="btn btn-outline-success separacion" routerLink="/Login" (click)="miPerfil()" type="button">Mi Perfil</button>
        <button *ngIf="(loginService.angularFireAuth.user | async)" class="btn btn-outline-danger separacion" routerLink="/Login" (click)="logOut()" type="button">Salir</button>
      </form>
    
  </nav>
  