







<div class="card" style="justify-content: center;text-align: center;">
    <div class="card-header">
      Reseña Cliente
    </div>
    <h5 class="card-title">Historia Clinica</h5><br>
    <div class="card-body">
    <form [formGroup]="encuesta" (submit)="submit()">
         
        <h5 class="card-title">Reseña</h5><br>
        <textarea class="form-control" aria-label="With textarea" formControlName="comentario"></textarea>
          <br>
 
      <h5 class="card-title">Como te parecio el funcionamiento de la clinica</h5>
      <div class="inputDiv">
        <input type="range" value="50" min="0" max="100" autocomplete="off" formControlName="funcionamientoClinica">
        </div>
      
      
        <h5 class="card-title">Puntualidad Turno</h5><br>
        <select class="custom-select" id="inputGroupSelect01" formControlName="puntualidadTurno">
          <option value="1">Muy puntual</option>
          <option value="2">Se demoro mucho</option>
          <option value="3">Muy desconforme</option>
        </select>

      <button class="btn btn-primary btn-block">Guardar</button>
    </form>
    </div>
  </div>