<app-navbar></app-navbar>
<br>
<div class="container">
<div class="card text-center">
    <div class="card-header">
      <h1>Mi Perfil</h1>
    </div>
   
    
    <div *ngIf="usuario" class="card-body">
        <img [src]="imagen1" width="150px" height="150px" alt="" srcset="">
        <img [src]="imagen2" width="150px" height="150px" alt="" srcset="">
      <h5 class="card-title">Nombre: {{usuario.nombre}}</h5>
      <h5 class="card-title">Apellido: {{usuario.apellido}}</h5>
      <h5 class="card-title">Edad: {{usuario.edad}} años</h5>
      <h5 class="card-title">Mail: {{usuario.mail}}</h5>

          <div  *ngIf="usuario.tipo=='PROFESIONAL'">
            <div *ngIf="!usuario.aprobado" class="alert alert-danger" role="alert">
              Aun no fue aprobado para atender en la clinica
          </div>
          <div *ngIf="usuario.aprobado" class="alert alert-success" role="alert">
              <button class="btn btn-block" [routerLink]="['/Atender']"   >Empezar a atender</button>
          </div>
          <table class="table">
            <thead >
            
              <tr>
                <th scope="col">#</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Duracion Turno</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of usuario.especialidades;index as i"  >
                <td>{{i}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.duracion}} min</td>
              </tr>
              
            </tbody>
          </table>
        </div>
    </div>
    <div class="card-footer text-muted">
      En ningun momento expondremos tu contraseña.
    </div>
  </div>
</div>