<app-navbar></app-navbar>
<br>
<div class="container">
<div class="card text-center">
    <div class="card-header">
      <h1>Mi Perfil</h1>
    </div>
    <div *ngIf="usuario" class="card-body">
        <img [src]="imagen1" width="150px" height="150px" alt="" srcset="">
        <img [src]="imagen2" width="150px" height="150px" alt="" srcset="">
      <h5 class="card-title">Nombre: {{usuario.nombre}}</h5>
      <h5 class="card-title">Apellido: {{usuario.apellido}}</h5>
      <h5 class="card-title">Edad: {{usuario.edad}} años</h5>
      <h5 class="card-title">Mail: {{usuario.mail}}</h5>
      <table class="table" >
        <thead *ngIf="usuario.especialidades">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Especialidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of usuario.especialidades;index as i"  >
            <td>{{i}}</td>
            <td>{{item.descripcion}}</td>
          </tr>
          
        </tbody>
      </table>
    </div>
    <div class="card-footer text-muted">
      En ningun momento expondremos tu contraseña.
    </div>
  </div>
</div>