







<button class="btn btn-secondary"  (click)="descargar(1)"><i class="fa fa-download"></i> Fichero Profesionales</button>
<button class="btn btn-secondary"  (click)="ver(2)"><i class="fa fa-print"></i> Operaciones Especialidad </button>
<button class="btn btn-secondary"  (click)="ver(3)"><i class="fa fa-print"></i> Turnos Por dia Semana </button>
<button class="btn btn-secondary"  (click)="ver(4)"><i class="fa fa-print"></i> Medicos x cant Turnos </button>
<button class="btn btn-secondary"  (click)="ver(5)"><i class="fa fa-print"></i> Medicos x cant dias </button>


<div [chart]="chart2" *ngIf="dos"></div>
<button class="btn btn-secondary"  *ngIf="dos"(click)="descargar(2)"><i class="fa fa-download"></i> Descargar</button>
<div [chart]="chart3" *ngIf="tres"></div>
<button class="btn btn-secondary"  *ngIf="tres"(click)="descargar(3)"><i class="fa fa-download"></i> Descargar</button>
<div [chart]="chart4" *ngIf="cuatro"></div>
<button class="btn btn-secondary"  *ngIf="cuatro"(click)="descargar(4)"><i class="fa fa-download"></i> Descargar</button>
<div [chart]="chart5" *ngIf="cinco"></div>
<button class="btn btn-secondary"  *ngIf="cinco"(click)="descargar(5)"><i class="fa fa-download"></i> Descargar</button>
