







<div class="card">
    <div class="card-header">
      Encuesta de satisfaccion
    </div>
    <div class="card-body">
    <form [formGroup]="encuesta" >
        <label><b>Nombre</b></label>
        <input type="text" placeholder="Ingresa tu nombre" name="nombre"  formControlName="nombre"  >
      <h5 class="card-title">Cómo clasificarias la atencion del profesional</h5>
      <input type="text" name="opciones" formControlName="comentario"> 
      <h5 class="card-title">Comentarios</h5>
      <input type="text" name="opciones" formControlName="comentario"> 
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </form>
    </div>
  </div>