
<body>
  <div class="container" style="height: 100vh;">
    <div class="row">
      
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Iniciar Sesion</h5>
            <img src="./assets/imagenes/logo.png" class="rounded mx-auto d-block" width="100 px">
            <form >
              <p for="inputEmail">Mail</p>
              <input type="text" id="inputEmail" [(ngModel)]="usuario" [ngModelOptions]="{standalone: true}" placeholder="admin" class="form-control" >

                <p for="inputPassword">Contraseña</p>
                <input type="password" id="inputPassword" [(ngModel)]="clave" [ngModelOptions]="{standalone: true}"  class="form-control" placeholder="admin" required>
            
              
              <button *ngIf="logeando" class="btn btn-lg btn-primary btn-block text-uppercase" (click)="Entrar()" type="submit">Entrar</button>
              <div *ngIf="errorLoguin" class="alert alert-danger text-center" role="alert">
                La clave o el usuario ingresado son incorrectos
               </div>
              <hr class="">
              <button type="button" class="btn btn-lg btn-primary btn-block text-uppercase" routerLink="/Principal">Cancelar</button>
              <button type="button" class="btn btn-lg btn-danger btn-block text-uppercase" routerLink="/Registro" >Registrarse</button>
              <!-- <span style="display: flex;justify-content: center;">Te olvidaste <a href="#">la clave?</a></span> -->
            </form>
          </div>
          
        </div>
      </div>
  
     
    </div>
  </div>

  <div class="float">
    <button type="button" class="btn btn-lg btn-success btn-block text-uppercase" (click)="usuarioMock('ADMIN1')" >ADMIN1</button>
  </div>
  <div class="float2">
    <button type="button" class="btn btn-lg btn-success btn-block text-uppercase" (click)="usuarioMock('ADMIN2')" >ADMIN2</button>
  </div>
  <div class="float3">
    <button type="button" class="btn btn-lg btn-danger btn-block text-uppercase" (click)="usuarioMock('USER1')" >USER1</button>
  </div>
  <div class="float4">
    <button type="button" class="btn btn-lg btn-primary btn-block text-uppercase" (click)="usuarioMock('PROFESIONAL1')" >PROFESIONAL1</button>
  </div>
  <div class="float5">
    <button type="button" class="btn btn-lg btn-primary btn-block text-uppercase" (click)="usuarioMock('PROFESIONAL2')" >PROFESIONAL2</button>
  </div>

</body>
