



<div class="card" style="justify-content: center;" >
  <h5 class="card-header">Día y Horario</h5>
  <div class="card-body">
    
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Dia</label>
      </div>
      <input type="date" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Horario</label>
      </div>
      <select class="custom-select"  id="profesionalInput"> 
        <option [value]="item.id" *ngFor="let item of this.listaHorarios">{{item.apellido}}</option>
    </select>
    </div>
    
    <!-- <table class="table" >
      <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Profesional</th>
            <th scope="col">Dia</th>
            <th scope="col">Horario</th>
            <th scope="col">Reservar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turno of turnos; i as index">
          <th scope="row">{{index}}</th>
          <td>{{turno.especialidad}}<i class="fas fa-list"></i></td>
          <td>{{turno.nombreEspecialista}}</td>
          <td>{{turno.dia}}</td>
          <td>{{turno.hora}}</td>
          <td><button class="btn btn-success" (reservar)="reservar(turno)">Reservar</button></td>
        </tr>
    </table> -->


  </div>
</div>


