


    <table class="table" >
      <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Profesional</th>
            <th scope="col">Dia</th>
            <th scope="col">Horario</th>
            <th scope="col">Reseña</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let turno of turnos; let i=index" >
          <th scope="row">{{i}}</th>
          <td>{{turno.especialidad.descripcion}}<i class="fas fa-list"></i></td>
          <td>{{turno.profesional.nombre}} {{turno.profesional.apellido}}</td>
          <td>{{turno.dia}}</td>
          <td>{{turno.hora}}</td>
          <td *ngIf="turno.resena" ><button class="btn btn-success">Ver Reseña</button></td>
          <td *ngIf="!turno.resena" ><button class="btn btn-secondary">Aun no fue atendido</button></td>
          
        </tr>
      </table>
          <div  *ngIf="!turnos" class="alert alert-warning" role="alert">
            <h4 class="alert-heading"></h4>
            <p style="text-align: center;">No se encontraron turnos para mostrar</p>
            <p class="mb-0"></p>
          </div>
